@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<CascadingValue Value="this">
    <div class="page">
        @if (ShowNavMenu != false) {
            <div class="sidebar" style="@IconMenuCssClass">
                <NavMenu ShowIconMenu="ToggleIconMenu" />
            </div>
        }

        <main>
            <div class="top-row px-4">
                @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
                <img class="img-fluid CollegeLogoHeader" src="/images/SHCG-Logo-Coloured-RGB.png" title="SHCG Logo" />
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    public bool? ShowNavMenu { get; set; }

    private bool _iconMenuActive { get; set; }
    private string? IconMenuCssClass => _iconMenuActive ? "width: 82px;" : null;

    protected override void OnInitialized()
    {
        ShowNav();
    }

    public void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        ShowNav();

        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    public void HideNav() {
        ShowNavMenu = false;
        StateHasChanged();
    }

    public void ShowNav()
    {
        ShowNavMenu = true;
        StateHasChanged();
    }

    //Toggle full or icon sidebar
    protected void ToggleIconMenu(bool iconMenuActive)
    {
        _iconMenuActive = iconMenuActive;
    }
}