@inherits LayoutComponentBase

<CascadingValue Value="this">
    <div class="page">
        @if (ShowNavMenu != false) {
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            <div class="top-row px-4">
                @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
                <img class="img-fluid CollegeLogoHeader" src="/images/SHCG-Logo-Coloured-RGB.png" title="SHCG Logo" />
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingValue>

@code {
    public bool? ShowNavMenu { get; set; }

    protected override void OnInitialized()
    {
        ShowNavMenu = true;
    }

    public void HideNav() {
        ShowNavMenu = false;
        StateHasChanged();
    }

    public void ShowNav()
    {
        ShowNavMenu = true;
        StateHasChanged();
    }
}