@page "/"

<PageTitle>ProSolution Forms</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md text-center">
            <img class="img-fluid CollegeLogo" src="/images/SHCG-Logo-Coloured-RGB.png" title="SHCG Logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h3>&lt; Please select a form from the left</h3>
        </div>
    </div>
</div>