body {
}

.CollegeLogo {
    max-width: 300px;
}

.CollegeLogoHeader {
    max-width: 100px;
}

.bd-callout-SHCG-blue {
    border-left-color: #84b9e5 !important;
}
    .bd-callout-SHCG-blue h4:not(.alert-heading) {
        color: #84b9e5;
    }
.bd-callout-SHCG-green {
    border-left-color: #b7d432 !important;
}
    .bd-callout-SHCG-green h4:not(.alert-heading) {
        color: #b7d432;
    }
.bd-callout-SHCG-yellow {
    border-left-color: #dbca21 !important;
}
    .bd-callout-SHCG-yellow h4:not(.alert-heading) {
        color: #dbca21;
    }
.bd-callout-SHCG-teal {
    border-left-color: #88cdaa !important;
}
    .bd-callout-SHCG-teal h4:not(.alert-heading) {
        color: #88cdaa;
    }

.bd-callout-SHCG-warning {
    border-left-color: #FF6F00 !important;
}

.bd-callout-SHCG-success {
    border-left-color: #1B5E20 !important;
}

.TableArea {
    background-color: #84b9e5;
}

.WhiteBackground {
    background-color: #FFFFFF;
}

.GreyBackground {
    background-color: #F5F5F5;
}

.GreyHeader {
    background-color: #CCCCCC;
}

.BackgroundEffect {
    background-image: url("../images/Background01.webp");
    background-repeat: no-repeat;
    background-color: #383838;
    background-size: 100% auto;
}

.ProfilePhoto {
    border-radius: 50%;
    max-width: 50px;
}

.ProfilePhotoLarge {
    border-radius: 50%;
}

.Text {
    background-color: #FFFFFF;
    padding: 5px;
}

.TextYes {
    background-color: #198754;
    color: #FFFFFF;
}

.TextNo {
    background-color: #dc3545;
    color: #FFFFFF;
}

.Textarea {
    background-color: #FFFFFF;
    border: 1px solid #0d6efd;
    padding: 5px;
    overflow-y: auto;
    max-height: 300px;
}

.ErrorDetails {
    max-height: 240px;
    background-color: #CCCCCC;
}

.YesNoButton {
    min-width: 100px;
}

.VersionText {
    color: #CCCCCC;
    font-size: 0.8em;
}